<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$project_name}_接口文档</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css">
</head>
<style>
    .layui-table-hover{background-color:#e2e2e2 !important}
</style>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
                <div class="layui-card" style="padding-bottom: 3rem">
                    <div class="layui-card-header" style="text-align: center;position: fixed;background-color: #eee;left: 0;top: 0;z-index: 10000;width: 100%;height: 50px;">
                        <!-- 搜索 -->
                        <div class="table-reload-btn">
                            <form class="layui-form">
                                <div class="layui-inline">
                                    <a class="layui-btn layui-btn-primary" href="{:url('index/index/index')}">返回</a>
                                </div>
                                <div class="layui-inline">
                                    <input type="hidden" name="field_name" value="name">
                                    <input type="text" name="field_value" class="layui-input field_value" autocomplete="off" placeholder="输入名称搜索" style="margin-top: 3px">
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-submit lay-filter="formSubmit">搜索</button>
                                    <button class="layui-btn reload-btn">刷新</button>
                                    <button class="layui-btn layui-hide reset-btn" type="reset">刷新</button>
                                    <button type="button" class="layui-btn" id="btn-expand">全部展开</button>
                                    <button type="button" class="layui-btn" id="btn-fold">全部折叠</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="layui-card-body" style="position: relative;top: 40px">
                        <!-- 表格 -->
                        <div class="">
                            <table class="layui-hidden" id="treetable" lay-filter="treetable"></table>
                        </div>
                        <!-- 是否禁用 -->
                        <script type="text/html" id="is_disable">
                            <input type="checkbox" value="{{ d.id }}|{{ d.is_disable }}" lay-filter="disable" lay-skin="switch" lay-text="是|否" {{ d.is_disable = 1 ? '' : 'checked' }}>
                        </script>
                        <!-- 操作列 -->
                        <script type="text/html" id="oper-col">
                            <button type="button" class="layui-btn layui-btn-sm" lay-event="edit">查看</button>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__LAYUI__/layui/layui.js"></script>
    <script>
    layui.config({ base: '__LAYUI__/' }); //静态资源所在路径
    layui.extend({ index: 'lib/index', treetable: 'treetable-lay/treetable' }); //主入口模块
    layui.use(['index', 'jquery', 'table', 'layer', 'form', 'treetable'], function() {

        var $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var treetable = layui.treetable;

        // 渲染表格
        var renderTable = function() {
            layer.load(2);
            treetable.render({
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'id',
                treePidName: 'interface_pid',
                treeDefaultClose: false,
                treeLinkage: false,
                elem: '#treetable',
                url: "{:url('index/interfaces/interfaces',['project_id'=>Request::param('project_id')])}",
                page: false,
                cols: [
                    [
                        { type: 'numbers', title: '序号' },
                        { field: 'name', title: '名称', minWidth: 300 },
                        { field: 'id', title: 'ID', hide: true},
                        { field: 'interface_pid', title: 'PID', hide: true },
                        { field: 'method', title: 'Method', width: 86 },
                        { field: 'url', title: 'Url', width: 430 },
                        { field: 'project_name', title: '项目', minWidth: 100, hide: true },
                        { field: 'admin_id', title: '创建者', width: 120, edit: 'text', hide: true },
                        { field: 'sort', title: '排序', sort: true, width: 120, edit: 'text', hide: true },
                        { field: 'is_disable', title: '是否禁用', toolbar: '#is_disable', sort: true, width: 120, hide: true },
                        { field: 'create_time', title: '创建时间', sort: true, width: 160 , hide: true },
                        { field: 'update_time', title: '更新时间', sort: true, width: 160 , hide: true },
                        { templet: '#oper-col', title: '操作', width: 77 }
                    ]
                ],
                done: function(res, curr, count){
                    // 得到数据总量
                    $('.field_value').attr('placeholder', '输入名称搜索('+count+')');
                }
            });
            layer.closeAll('loading');
        };

        renderTable();

        // 搜索
        form.on('submit(formSubmit)', function(data) {
            console.log(data);
            var load = layer.msg('正在搜索...', { icon: 16, shade: 0.3 });
            var keyword = data.field.field_value;
            var searchCount = 0;
            $('#treetable').next('.treeTable').find('.layui-table-body tbody tr td').each(function() {
                $(this).css('background-color', 'transparent');
                var text = $(this).text();
                if (keyword != '' && text.indexOf(keyword) >= 0) {
                    $(this).css('background-color', 'rgba(250,230,160,0.5)');
                    if (searchCount == 0) {
                        treetable.expandAll('#treetable');
                        $('html,body').stop(true);
                        $('html,body').animate({ scrollTop: $(this).offset().top - 150 }, 500);
                    }
                    searchCount++;
                }
            });
            if (keyword == '') {
                layer.msg("请输入搜索内容", { icon: 5 });
            } else if (searchCount == 0) {
                layer.msg("没有匹配结果", { icon: 5 });
            }
            layer.close(load);
            return false; //阻止表单跳转
        });

        // 全部展开
        $('#btn-expand').click(function() {
            treetable.expandAll('#treetable');
        });
        // 全部折叠
        $('#btn-fold').click(function() {
            treetable.foldAll('#treetable');
        });

        // 重置
        $('.reload-btn').click(function() {
            $('.reset-btn').trigger('click'); //重置表单
            renderTable(); //表格重载
            return false; //阻止表单跳转
        });

        // 添加、修改、分享、删除
        table.on('tool(treetable)', function(obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var project_id = data.project_id; //项目id
            var interface_id = data.interface_id; //接口id

            // 修改
            if (layEvent === 'edit') {
                layer.open({
                    type: 2,
                    title: data.name,
                    content: '{:url("interfaces_edit")}?interface_id=' + interface_id,
                    area: ['88%', '92%'],
                    shade: 0,
                    maxmin: true,
                    zIndex: layer.zIndex,
                    success: function(layero) {
                        layer.setTop(layero);
                    },
                    end: function() {
                        // renderTableWhere();
                    }
                });
                return false;
            }
        });

    });
    </script>
</body>

</html>